<form action="/addexersise" method="POST">
    In this page you can log your exersises and the amount of sets you have made.
    <br>
    
    <select name="Exersise">
    <option value="Benchpress" selected>Bench Press 
    <option value="Squat"> Squat
    <option value="Deadlift"> Deadlift
    <option value="Barbellcurl"> Barbell Curl
    </select>
    <br>
    <br>
    Sets:
    <br>
    <input type="integer" name="Sets">
    <br>
    <br>
    Weight:
    <br>
    <input type="integer" name="Weight">
    <br>
    <br>
    Time:
    <br>
    <input type="date" name="Time">
    <br>
    <br>
    
    <input type="submit" value="Add exersise">
    <br>
    <br>
    <input type="submit" value="Exit and save">
    </form> 

    