<form action="/addexercise" method="POST">
    <br>
    In this page you can log your exercises and the amount of sets you have made.
    <br><br>
    Exercise:<br>
    <select name="exercisename">
    <option value="benchpress" selected>Bench Press 
    <option value="squat"> Squat
    <option value="deadlift"> Deadlift
    <option value="barbellcurl"> Barbell Curl
    </select>
    <br><br>
    Sets:
    <br>
    <input type="number" min="1" max="99" name="sets">
    <br><br>
    Weight:
    <br>
    <input type="number" min="1" max="500" name="weight">
    <br><br>
    Time:
    <br>
    <input type="date" name="time">
    <br><br>
    
    <input type="submit" value="Add exercise">
    <br><br>
    <input type="submit" value="Exit and save">
    </form> 

    