<form action="/addexercise" method="POST">
    <br>
    In this page you can log your exercises and the amount of sets you have made.
    <br><br>
    Exercise:<br>
    <select name="Exercisename">
    <option value="Benchpress" selected>Bench Press 
    <option value="Squat"> Squat
    <option value="Deadlift"> Deadlift
    <option value="Barbellcurl"> Barbell Curl
    </select>
    <br><br>
    Sets:
    <br>
    <input type="integer" name="Sets">
    <br><br>
    Weight:
    <br>
    <input type="integer" name="Weight">
    <br><br>
    Time:
    <br>
    <input type="date" name="Time">
    <br><br>
    
    <input type="submit" value="Add exercise">
    <br><br>
    <input type="submit" value="Exit and save">
    </form> 

    