<title>Etusivu</title>
<h1>Etusivu</h1>
Welcome to Salitracker. Here you can track your gymvisits and in the future even more.
<br>
<form action="/choice">
<input type = "submit" value="Add exercises">
</form>
{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Log out</a>
<br>
<a href="/profile/{{session.user_id}}">Profile</a>
<br><br>

{% else %}
<form action="/login" method="POST">
<p>Username:<br>
<input type="text" name="username"></p>
<p>Password:<br>
<input type="password" name="password"></p>
<input type="submit" value="Log in">
</form>
<form action="/signin" method="POST">
    <p>Username:<br>
    <input type="text" name="username"></p>
    <p>Password:<br>
    <input type="password" name="password"></p>
    <input type="submit" value="Sign up">
    </form>

{% endif %}
<br>
{%if error %}
{{error}} 
{% endif %}
{%if login %}
Login successful 
{% endif %}
{%if signup %}
Sign up successful 
{% endif %}
{%if added %}
Exercise added 
{% endif %}

