<title>Etusivu</title>
<h1>Etusivu</h1>
Tervetuloa SaliTrackeriin. Täällä voit kirjata salilla tehdyt liikkeet ja seurata edistystäsi.
<br>

 <!--...<form action="/loginpage"-->
 <!--...    <input type = "submit" value="Kirjaudu sisään"-->
 <!--...</form-->
<form action="/form">
<input type = "submit" value="Lisää salikäynti">
</form>
{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<form action="/login" method="POST">
<p>Tunnus:<br>
<input type="text" name="username"></p>
<p>Salasana:<br>
<input type="password" name="password"></p>
<input type="submit" value="Kirjaudu">
</form>
{% endif %}
