<title>Etusivu</title>
<h1>Etusivu</h1>
Welcome to Salitracker. Here you can track your gymvisits and in the future even more.
<br>
<form action="/form">
<input type = "submit" value="Lisää salikäynti">
</form>
{% if session.username %}
<p>Olet kirjautunut nimellä {{ session.username }}</p>
<a href="/logout">Kirjaudu ulos</a>
{% else %}
<form action="/login" method="POST">
<p>Username:<br>
<input type="text" name="username"></p>
<p>Password:<br>
<input type="password" name="password"></p>
<input type="submit" value="Log in">
</form>
<form action="/signin" method="POST">
    <p>Username:<br>
    <input type="text" name="username"></p>
    <p>Password:<br>
    <input type="password" name="password"></p>
    <input type="submit" value="Sign up">
    </form>
{% endif %}


