Olet kirjautunut nimellä {{session.username}}
<p><a href="/">Go back</a></p>

<p><a href="/add_quote">Add quote:</a></p>

{%if success%}
Quote added.
{%endif%}

{%if fail%}
Something went wrong.
{%endif%}

{%for ex in allexercises%}
<p><b>Name:</b> {{ex.exercisename}} <b>Sets:</b> {{ex.sets}}
<b>Weight: (Kg)</b> {{ex.weight}} <b>Total weight lifted: (Kg)</b> 
{{ex.sets*ex.weight}} <b>Date:</b> {{ex.date}} </p>
{%endfor%}

{%for car in allcardio%}
<p><b>Name:</b> {{car.cardioname}} <b>Length: (Km) </b> {{car.lenght}}
<b>Time: (min)</b> {{car.times}} <b>Speed: (Km/h)</b> 
{{car.lenght/(car.times/60)}} <b>Date:</b> {{car.date}} </p>
{%endfor%}